@import "../abstracts/variables";
@import "../abstracts/mixins";


html {
  font-size: 62.5%; /*now 1rem = 10px  10px/16px=62.5%  100% being 16px  acts like overall setting that defines what 1 rem should be*/

  //width<1200?
  @include respond(tab-land) {
    font-size: 56.25%; //want 1rem=9px => 9/16=56.25%
  }

  //width<900?
  @include respond(tab-port) {
    font-size: 50%; //want 1rem=8px => 8/16=50%   now 1rem is 8px, everything will decrease as a result
  }

  @include respond(big-desktop) {
    font-size: 75%; //want 1rem=12px => 12/16=75%
  }
}

* {
  box-sizing: border-box;
}

body {
  //font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -1.25em 0 3.125em;
  margin-top: 1.25em;
  

  @include respond(tab-port) {
    padding: 0;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

input {
  outline: none!important;
}
   